<mat-toolbar>
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
    <mat-icon aria-label="Side nav toggle icon" class="icon_white">menu</mat-icon>
  </button>
  <span>
    <h6>Todo</h6>
  </span>
  <span class="example-spacer"></span>
  <span style="font-size: medium;">
    {{today | date:'dd/MM/yyyy'}}, {{today | date:'h:mm:ss a'}},
    Logged in as: {{userId}}
  </span>
  <button #tooltip="matTooltip" matTooltip="About" mat-icon-button class="example-icon favorite-icon">
    <mat-icon>info</mat-icon>
  </button>
  <button #tooltip="matTooltip" matTooltip="Sign Off" mat-icon-button class="example-icon" routerLink="/logout"
    routerLinkActive="active" (click)=handleLogout()>
    <mat-icon>login</mat-icon>
  </button>

</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink='/dashboard/home'>
        <mat-icon matListIcon>home</mat-icon> Home
      </a>

      <a mat-list-item routerLink='/dashboard/users'>
        <mat-icon matListIcon>supervisor_account</mat-icon> Users
      </a>

      <mat-accordion multi="true">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            Tasks
          </mat-expansion-panel-header>
          <mat-action-list>
            <button mat-list-item routerLink='/dashboard/addTask'>
              <mat-icon matListIcon>playlist_add</mat-icon> Add Task
            </button>
            <button mat-list-item routerLink='/dashboard/manageTask'>
              <mat-icon matListIcon>edit</mat-icon> Manage Task
            </button>
            <button mat-list-item routerLink='/dashboard/completedTask'>
              <mat-icon matListIcon>check_circle_outline</mat-icon>Completed Tasks
            </button>
          </mat-action-list>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion multi="true">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            Notifications
          </mat-expansion-panel-header>
          <mat-action-list>
            <button mat-list-item routerLink='/dashboard/manageNotification'>
              <mat-icon matListIcon>notification_important</mat-icon>Settings
            </button>
          </mat-action-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>