.example-container {
	height: 90%;
	width: 100%
  }
  .mat-toolbar-row, .mat-toolbar-single-row{
	  background: #243453  !important
  }


  .mat-toolbar {
	  color:white
  }
  .icon_white{
	  color: white
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  
  