<div class="login-page">
    <mat-card class="mat-elevation-z12">
        <mat-card-title style="text-align:center;">Sign In</mat-card-title>
        <mat-card-content>
            <mat-error style=" margin-bottom: 1cm; margin-left: 1cm;">{{message}}</mat-error>
            <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="User Name" formControlName="username" required>
                    <mat-error>
                        Please provide a valid user name
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Password" formControlName="password" required>
                    <mat-error>
                        Please provide a valid password
                    </mat-error>
                </mat-form-field>
                <div class="form-group" style="text-align: center; margin-top: 1cm;">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                    <button class="btn btn-secondary" style="margin:5px;" (click)="btnRegister();">Register</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>