<div class="col">
  <div class="row">
    <div class="col">
      <h6>Users List</h6>
    </div>
    <div class="col" align="right" style="margin: 5px">
      <button type="button" class="btn btn-primary btn-sm" (click)="userCreateForm()">Add User</button>
    </div>
  </div>
  <table class="table table-sm table-bordered ">
    <thead>
      <tr style="background-color: rgb(218, 234, 245)">
        <th width="4" scope="col"></th>
        <th scope="col">User Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userData; index as i">
        <td width="4"><input type="checkbox" /></td>
        <td> {{ user.username }} </td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td (click)="editUser(user)"><i class="pi pi-user-edit"></i></td>
        <td (click)="deleteUser(user)"><i class="pi pi-trash"></i></td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination class="d-flex justify-content-end" [collectionSize]="totalRecords" [(page)]="page"
    [boundaryLinks]="true" [maxSize]="10" [rotate]="true" [ellipses]="false" size="sm" (pageChange)="loadPage($event)">
  </ngb-pagination>

</div>