<div class="col-md-6 user-container">
  <h4 style="margin: 2px;">User</h4>
  <div class="error" id="msgs" style="color: red; margin-bottom: 1cm; margin-left: 1cm;">{{message}}</div>
  <form [formGroup]="userForm" (ngSubmit)="saveUser()">

    <div class="form-group">
      <label for="username">User Name:</label>
      <input type="text" formControlName="username" placeholder="User Name" name="username" class="form-control"
        id="username">
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" formControlName="password" placeholder="Password" name="password" class="form-control"
        id="password">
    </div>

    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
    </div>

    <button *ngIf=!userCreation class="btn btn-primary" style="margin:5px;">Update</button>
    <button *ngIf=userCreation class="btn btn-primary" style="margin:5px;">Save</button>
    <button class="btn btn-secondary" style="margin:5px;" (click)="btnBack();">Back</button>
  </form>
</div>